#navbar::before,
#carousel::before,
#beranda::before,
#penawaran::before,
#model::before,
#compare::before,
#contact::before,
#maps::before {
  display: block;
  content: ' ';
  margin-top: -105px;
  height: 105px;
  visibility: hidden;
}

body {
    padding-top: 105px;
  }